:root{
    --fontBase: 'Poppins', sans-serif;
    --color: #f7aae6;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
}

#nav-bar li{
    display: inline;
    font-weight: bold;
    padding: 60px 15px 45px 15px;
    margin: 20px 20px 20px 20px;
    font-weight: bold;
    font-family: var(--fontBase);
}

body{
    font-family: var(--fontBase);
    color: var(--color);
    background: linear-gradient(135deg, #360530 0%, #df2ea4 100%);
    font-size: 1em;
    font-weight: bold;
}

.name{
    width: 150px;

}



.image-profile{
    border-radius: 50%;
    border: 12px solid #df2ea4;

}
section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}
div{
    /* border: 3px solid black; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    
    
}




    


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
